body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin-right: 15px;
}

.navbar a:last-child {
    margin-right: 0;
}

.navbar a:hover {
    color: #f8f9fa;
}

.dashboard-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 1.5em;
    color: #333;
}

.main-header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

.all-posts-header {
    color: #007BFF;
    font-size: 2em;
    margin-bottom: 20px;
}

.dashboard-header {
    color: #333;
    font-size: 1.75em;
    margin-bottom: 20px;
}

.login-header {
    color: #666;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.signup-header {
    color: #999;
    font-size: 1.25em;
    margin-bottom: 20px;
}

.login-signup-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-container, .signup-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
}

.login-header, .signup-header {
    color: #007BFF;
    margin-bottom: 20px;
}

.login input, .signup input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login button, .signup button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.login button:hover, .signup button:hover {
    background-color: #0056b3;
}

.post-card {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    position: relative;
}

.post-card .post-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.post-card .post-user {
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 0.8em;
    color: #666;
}

.post-card .post-content {
    margin-top: 20px;
}

.post-card a {
    text-decoration: none;
    color: #333;
}